<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

    <!-- Maven Project에서는 resources Directory 아래에 Mapper를 두어야 찾을수 있음. -->
    <mappers >
        <mapper resource="/sql/category.xml"/>
        <mapper resource="/sql/task.xml"/>
        <mapper resource="/sql/page.xml"/>
        <mapper resource="/sql/mini.xml"/>
    </mappers >

</configuration>

